body{
    background-color: slategray;
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color: skyblue;
    color: black;
    font-family: "Inter", sans-serif;
}

.passo {
display:none;
}

.passo.ativo {
display:block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 90%;
}